body{
    
    background-color: brown;
   
    display: flex;
    justify-content: center;
    
  
    
}

.container{
    border: solid black;
    width: 800px;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.contenedor1{
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    height: 70%;
    
    
    
}

.carga-contenedor{
    width: 50%;
    background: rgb(229,255,71);
    background: -moz-linear-gradient(22deg, rgba(229,255,71,1) 35%, rgba(122,209,77,1) 75%);
    background: -webkit-linear-gradient(22deg, rgba(229,255,71,1) 35%, rgba(122,209,77,1) 75%);
    background: linear-gradient(22deg, rgba(229,255,71,1) 35%, rgba(122,209,77,1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5ff47",endColorstr="#7ad14d",GradientType=1);
    
   
}

.movimientos-contenedor{
    background-color: rgb(29,34,35);
    width: 50%;
    
}

.movimientos-contenedor div{
    color: white;
    background-color: rgb(46,49,55);

}

.contenedor2{
    
    background-color: black;
    display: flex;
    justify-content: center;
    height: 100px; 
}

.saldos-contenedor{
     
    background-color: blueviolet;
    
}

.icon-usuario{
    width: 50px;
    height: 50px;
}

.menu-usuario{
    display: flex;
    justify-content: space-around;
    border: solid red;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: x-large;
    
}

.disp-inicial{
    border: solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

.carga-mov{
    border: solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

.carga-monto{
    border: solid goldenrod;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.btn-contenedor {
    border: solid red;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    
}

.btn{
    font-family: arial;
    color: white;
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 16px;
    border: none;
    background: rgb(96,106,32);
      
}

.btn:hover{
    background-color: rgb(96,106,32,70%);
    color: black;
}

/* desde acá responsive -500px*/

@media (max-width: 500px){
    
    .container{
        flex-direction: column-reverse;
    }
    .contenedor1{
        display: flex;
        flex-direction: column;

            
    }
    .carga-contenedor{
        width: 100%;
        height: 100%;
        background: rgb(229,255,71);
        background: -moz-linear-gradient(22deg, rgba(229,255,71,1) 0%, rgba(122,209,77,1) 100%);
        background: -webkit-linear-gradient(22deg, rgba(229,255,71,1) 0%, rgba(122,209,77,1) 100%);
        background: linear-gradient(22deg, rgba(229,255,71,1) 0%, rgba(122,209,77,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5ff47",endColorstr="#7ad14d",GradientType=1);
    }
    
    .movimientos-contenedor{
        background-color: rgb(96,106,32);
        width: 100%;
        height: 100%;
    }
    
    .contenedor2{
        background-color: chocolate;
        display: flex;
        justify-content: center;
        height: 100px; 
    }
    
    .saldos-contenedor{
         
        background-color: blueviolet;
        
    }

    .menu-usuario{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: solid red;
        margin-top: 20px;
        
    }
    
    .disp-inicial{
        border: solid green;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    
    }
    
    .carga-mov{
        border: solid red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    
    }
    
    .carga-monto{
        border: solid goldenrod;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    
    .btn-contenedor {
        border: solid red;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 10px;
        
    }
    
    .btn{
        font-family: arial;
        color: white;
        font-size: 30px;
        padding: 10px 20px;
        border-radius: 16px;
        border: none;
        background: rgb(96,106,32);
          
    }
    
    
}